@using Newtonsoft.Json
@model IPara.DeveloperPortal.Core.Response.LinkPaymentListResponse
@{
    ViewBag.Title = "Ödeme Linklerini Listele";

    var moment = ViewBag.moment;
    var startDay = moment.Day.ToString();
    var endDay = startDay;
    var startMonth = moment.Month.ToString();
    var endMonth = startMonth;
    var startYear = moment.Year.ToString();
    var endYear = startYear;
}

<form action="" method="post" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Ödeme Linklerini Listele</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="">Müşteri Email (Opsiyonel):</label>
            <div class="col-md-4">
                <input type="text" name="email" value="fatih@domain.com" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Müşteri Cep Telefonu (Opsiyonel):</label>
            <div class="col-md-4">
                <input type="text" name="gsm" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Link Id (Opsiyonel):</label>
            <div class="col-md-4">
                <input type="text" name="linkId" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Başlangıç Tarihi (Opsiyonel) (**):</label>
            <div class="col-md-4 form-inline">
                <input type="text" name="startDay" value="@startDay" class="form-control input-md" style="width: 80px; text-align: center;" maxlength="2">
                <input type="text" name="startMonth" value="@startMonth" class="form-control input-md" style="width: 80px; text-align: center;" maxlength="2">
                <input type="text" name="startYear" value="@startYear" class="form-control input-md" style="width: 112px; text-align: center;" maxlength="4">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Bitiş Tarihi (Opsiyonel) (**):</label>
            <div class="col-md-4 form-inline">
                <input type="text" name="endDay" value="@endDay" class="form-control input-md" style="width: 80px; text-align: center;" maxlength="2">
                <input type="text" name="endMonth" value="@endMonth" class="form-control input-md" style="width: 80px; text-align: center;" maxlength="2">
                <input type="text" name="endYear" value="@endYear" class="form-control input-md" style="width: 112px; text-align: center;" maxlength="4">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Ödeme Durum Bilgisi (Opsiyonel):</label>
            <div class="col-md-4">
                <select name="linkState" class="form-control">
                    <option value="-1">Seçiniz</option>
                    <option value="0">Link İsteği Alındı</option>
                    <option value="1">Link URL’i yaratıldı</option>
                    <option value="2">Link Gönderildi, Ödeme Bekleniyor</option>
                    <option value="3">Link ile Ödeme Başarılı</option>
                    <option value="98">Link Zaman Aşımına Uğradı</option>
                    <option value="99">Link Silindi</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Sayfa Sayısı (5-15) (*):</label>
            <div class="col-md-4">
                <select name="pageSize" class="form-control">
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="">Sayfa Index (*):</label>
            <div class="col-md-4">
                <input type="text" name="pageIndex" value="1" class="form-control input-md" required>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Ödeme Linklerini Listele</button>
            </div>
        </div>
    </fieldset>
    <p>** Başlangış ve Bitiş tarihi parametreleri bir çift olarak çalışmaktadır. Bu nedenle eğer biri istek içine eklenmiş ise, diğerinin de eklenmesi gerekmektedir.</p>
</form>

<br />
<pre>
    @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented))
</pre>